.navbar {
    background-color: #75D373;
}

.cor_lista {
    color:white;
}
.margin {
    padding-top: 40px;
}
.aboutme-margin {
    padding-bottom: 20px;
}
.description-margin {
    padding-top: 20px;
}
.cab-tamanho {
    font-size: 20px;
}
.icons li {
    display: inline;
    margin: 0px 10px
}
